<h1>All Restaurants</h1>

<div class="container">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>

  <div class="row">
    <%= link_to "Create new Restaurant", new_restaurant_path %>
  </div>
</div>
