<h1>Show Restaurant</h1>

<div class="container">
  <h2><%= @restaurant.name %></h2>
  <h3>Reviews</h3>
  <div class="row">
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="col-2">
          <%= "#{review.content} - #{review.rating}" %>
        </li>
      <% end %>
    </ul>
  </div>

 <div class="row">
    <div class="col-3 g-2">
      <%= link_to "Show all Restaurants", restaurants_path, class: "btn btn-primary" %>
      <%= link_to "Add New Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    </div>
  </div>
</div>
